.merah{
    color:red;
    border:1px solid black;

}

.biru{color:blue}


.box{
    padding:1px;
    margin:5px;
}

input{

    border:1px solid darkgray;
    padding:5px;
    border-radius: 5px;
}

input[type=submit] {
    background-color: aqua;
    color:white;
    cursor: pointer;
}
.tulisan1 {color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    text-decoration:underline;


}

.tulisan2 {
    color:red;
    font-size: 24px0;
    font-style: italic;
    text-align: right;
    text-transform: capitalize;
    text-decoration: overline;
}

.tulisan3 {
    color:goldenrod;
    font-size: 29px0;
    font-style: boldc;
    text-align: center;
    text-transform: lowercase;
    text-decoration: line-through;
    word-spacing: 10px;
}
.link {
    font-size: 20;
}
.link:link{color:blue}
.link:hover{color:red}
.link:active {color:green}
.link:visited{color:yellow;}

ul.transportasi{list-style-type:  square;}
ul.kota{list-style-type: circle;}
ol.merk{list-style-type: upper-roman;}